.experience {
    margin-top: 120px;
    text-align: left;
}

.experience-title {
    font-size: 40px;

}

.experience-title span {
    color: #ff9d42;
}

.experience-sub {
    color: #bcbcbc;
    margin-bottom: 40px;
}

.experience-item {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 40px;

    padding: 40px 0;
    border-bottom: 1px solid #222;
}

.experience-left {
    text-align: left;
}


.description {
    background: #0f1622;
    padding: 20px;
    border-radius: 10px;
}

.meta-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.meta-card {
    padding: 18px;
    border: 1px solid #1c2430;
    border-radius: 10px;
    text-align: left;
}

.meta-title {
    margin-top: 1px;
    margin-bottom: 1px;
}

.meta-value {
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 1px;
}

.list-item {
    border: 1px solid #1c2430;
    padding: 14px;
    border-radius: 10px;
    margin-top: 10px;
}