.contact-cta {
    margin-top: 120px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.contact-cta-card {
    width: 100%;
    max-width: 1100px;
    opacity: 80%;

    padding: 40px 40px;
    border-radius: 20px;

    text-align: center;
    color: white;

    background:
    linear-gradient(rgba(255,255,255,0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.12) 1px, transparent 1px),
    linear-gradient(135deg,#ff9d42,#ff7a18);

    background-size:
    40px 40px,
    40px 40px,
    cover;
}

.contact-cta-card h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0px;
}

.contact-cta-card p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: 400;
}

.contact-cta-button {
    display: inline-block;

    padding: 12px 26px;

    background: #ff6a00;
    color: white;
    
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;

    transition: all 0.2s ease;
}

.contact-cta-button:hover {
    transform: translateY(-2px);
    background: #ff5a00;
}